.navbar {
    font-family: 'Playfair Display', serif !important;
    font-weight: bold;
    color: #645555;
}

.navbar-brand{
    font-size: 27px;
}

.img-logo{
    margin: 0px 20px 0px 40px;
}

.img-principal {
    background-image: url(../assets/img/banner.jpeg);
    background-color: rgb(158, 163, 163);
    background-blend-mode:soft-light;
    background-position:top ;
    background-size:auto;
    margin-top: 26px;
    height: 96vh;
 }

 .img-secundaria {
    background-image: url(../assets/img/img-sec.jpeg);
    background-color: rgb(158, 163, 163);
    background-blend-mode:soft-light;
    background-position:top ;
    background-size:cover;
    margin-top: 10px;
    height: 98vh;
 }

 .img-tercera {
    background-image: url(../assets/img/img-3.jpeg);
    background-color: rgb(158, 163, 163);
    background-blend-mode:soft-light;
    background-position:top ;
    background-size:cover;
    margin-top: 10px;
    height: 98vh;
 }

 .texto-principal{
    font-family: 'Playfair Display', serif !important;
    font-weight: bold;
    color: black;
    font-size: 80px;
    margin-bottom: 30px;
 }

 .eslogan{
    font-family: 'Playfair Display', serif !important;
    font-weight: bold;
    color: black;
    font-size: 25px;
 }